layout: default.twig
---
<div class="content">

    <h1>#austinphp</h1>

    <p>
        Join the Austin PHP community on the <a href="https://webchat.freenode.net/" target="_blank">Freenode</a> IRC network.
    </p>
    
    <h2>Connection details</h2>
    
    <p>
        <strong>Server:</strong> chat.freenode.net<br/>
        <strong>Channel:</strong> #austinphp
    </p>
    
    <h2>Rules</h2>
    
    <p>
        Todo....
    </p>

</div>
