<!DOCTYPE html>
<html>
    <head>
        <title>Austin PHP - Chat</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div>TODO write content</div>
    </body>
</html>
