<!DOCTYPE html>
<html>
    <head>
        <title>Austin PHP - Chat</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="styles/default.css">
    </head>
    <body>
        
        {{content}}
        
        {% include 'layouts/footer.twig'%}
    </body>
</html>
